<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/bandas">Bandas</a></li>
            <li><a href="/genero">Generos</a></li>
        </ul>
    </nav>
</header>