<header>
    <nav class="barra">
        <ul>
            <li class="item1"><a href="/">Inicio</a></li>
            <li class="item2"><a href="/bandas">Bandas</a></li>
        </ul>
    </nav>
</header>