<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de Bandas</h1>
    <ul>
        <% for(let i = 0; i < lista.length; i++) { %>
            <div class="todasLasBandas">
                <li class="items">Nombre: <%= lista[i].nombre %></li>
                <section>
                    <img class="foto" src="<%= lista[i].cover %>" alt="fotoBanda" width="300px">
                </section>

            </div>
        <% } %>
    </ul> 
</body>
</html>