<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de Bandas</h1>
    <ul>
        <% for(let i = 0; i < lista.length; i++) { %>
            <div class="bandasOrdenadas">
                <li class="items">Nombre: <%= lista[i].nombre %></li>
                <li class="items">Género: <%= lista[i].genero %></li>
                <li class="items">Integrantes: <%= lista[i].integrantes %></li>
                <li class="items">Top Canciones: <%= lista[i].topCanciones.join(", ") %></li>
                <!-- Puedes incluir un enlace al video o la imagen si lo deseas -->
            </div>
        <% } %>
    </ul> 
</body>
</html>